<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Kevin Bizzoyle Welcome to {{ title }}!
    </h1>
</div>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Select Folder 
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
            <a [routerLink]="['music/12.09.2017']">Dec. 9, 2017</a>
            <a [routerLink]="['music/12.23.2017']">Dec. 23, 2017</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>