<ng4-loading-spinner></ng4-loading-spinner>

<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
    <div class="title">
        <h1>
            Music Forever Reigns
        </h1>
    </div>
    <div class="navbar">
        <div class="dropdown">
            <button mat-button [matMenuTriggerFor]="select" [ngStyle]="{'color':'white'}" class="btn dropbtn dropdown-toggle">Select Folder
            
        </button>
            <mat-menu #select="matMenu" class="dropdown-content">
                    <a mat-menu-item class="dropdown-item" (click)='filterShow("ALL")'>Show All</a>
                    <a mat-menu-item class="dropdown-item" (click)='filterShow("12.09.2017")'>Dec. 9, 2017</a>
                    <a mat-menu-item class="dropdown-item" (click)='filterShow("12.23.2017")'>Dec. 23, 2017</a>
            </mat-menu>
            </div>
        <div class="dropdown">
            <button mat-button [ngStyle]="{'color':'white'}" class="addSongBtn btn btn-lg" (click)='addSong()'>Add Song 
                <!-- <i class="fa fa-caret-down"></i> -->
              </button>
            <!-- <div class="dropdown-content">
                <mat-menu #add="matMenu" class="dropdown-content">
                        <a  mat-menu-item class="dropdown-item" (click)='addSong()'>Add a Song</a>
                </mat-menu>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class='col-md-9'>
            <h2>Song List</h2>
        </div>
        <div class="col-md-3 searchBar">
            <i class="material-icons">search</i>
            <mat-form-field>
                <input matInput placeholder="Search" (keyup)="searchFilter($event)">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf='errorMessage' [ngStyle]="{'color':'red'}">{{errorMessage}}</div>
        <table class='table' *ngIf='filteredSongs'>
            <tbody>
                <tr *ngFor='let performance of filteredSongs let i = index' (click)="routeToSongPage($event)">
                    <td class="songName {{performance.id}}">{{i+1}}</td>
                    <td class="songName {{performance.title}}">{{performance.title}}</td>
                    <td>{{performance.date}}</td>
                </tr>
            </tbody>
        </table>
    <!-- <div *ngFor='let item of items'>{{item}}</div> -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="trigger(c)">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="trigger(c)">Close</button>
        </div>
    </ng-template>
</div>